<header class="l-header">
    <div class="l-header-container">
        <div class="m-header-logo">
            <img src="favicon.ico" alt="Логотип МИС" class="m-header-logo__img">
            <h1>Медицинская CRM система</h1>
        </div>
        <nav>
            <ul class="m-nav-menu">
                <li><a href="index.html" class="is-hoverable-link">Панель управления</a></li>
                <li><a href="patients.html" class="is-hoverable-link">Пациенты</a></li>
                <li><a href="doctors.html" class="is-hoverable-link">Врачи</a></li>
                <li><a href="schedule.html" class="is-hoverable-link">Расписание</a></li>
                <li><a href="reports.html" class="is-hoverable-link">Отчеты</a></li>
                <li><a href="inventory.html" class="is-hoverable-link">Склад</a></li>
                <li><a href="audit.html" class="is-hoverable-link">Аудит</a></li>
                <li><a href="settings.html" class="is-hoverable-link">Настройки</a></li>
                <li><a href="appointment.html" class="is-hoverable-link">Записи на услуги</a></li>
            </ul>
        </nav>
    </div>
</header>
